{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Microblog{% else %}Welcome to Microblog{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">

        <ul class="pager">

            <li>
                <a href="{{ url_for('index') }}">Home</a>
            </li>

            {% if current_user.is_anonymous %}
            <li>
                <a href="{{ url_for('login') or '#' }}">
                    Login
                </a>
            </li>
           {% else %}
           <li>
                <a href="{{ url_for('user', username=current_user.username) or '#' }}">
                    Profile
                </a>
            </li>
           <li>
                <a href="{{ url_for('explore') or '#' }}">
                    Explore
                </a>
            </li>
           <li>
                <a href="{{ url_for('logout') or '#' }}">
                    Logout
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
{% endblock %}